.alert {
    padding: .65em;
    padding-bottom: .9em;
    height: 1rem;
    display: grid;
    align-items: center;
    text-align: center;
    width: 300px;
    font-size: 1rem;
    border-radius: 0.25rem;
    letter-spacing: .07rem;
    text-transform: capitalize;
  }

  .alert-danger {
    color: #eec7cb;
    background: #a1676e;
  }
  .alert-success {
    color: rgb(241, 251, 238);
    background: var(--clr-primary-8);
  }