.alert {
    padding: .65em;
    padding-bottom: .9em;
    height: 1rem;
    display: grid;
    align-items: center;
    text-align: center;
    width: 300px;
    font-size: .9rem;
    border-radius: 0.25rem;
    letter-spacing: .07rem;
    text-transform: capitalize;

  }

  .alert-danger {
    color: #dcb0b5;
    background: #51393c;
  }
  .alert-success {
    color: rgb(241, 251, 238);
    background: rgb(90, 138, 90);
  }