.appointments-container {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    min-width: 940px;
    display: grid;
    place-items: center;   
    width: 1100px;
    margin: 0 auto;
    margin-top: 2em;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2em;
    background: linear-gradient(to right, #312d32, #242226);
}

.appointment-form a{
    color: var(--clr-primary-5);
    font-size: .7em;
}

#description-input{
    width: 220px;
}

#date-input{
    width: 80px;
}

#time-input{
    width: 75px;
}

#title{
    color: var(--clr-primary-5);
    font-size: 1.2em;
    font-weight: 400;
}

.appointment-form input{
    font-family: 'Barlow', sans-serif;
    margin: 20px;
    padding: .7em;
    background: rgb(59, 54, 60);
    border-radius: 4px;
    border-style: none;
    color: var(--clr-primary-5)
}
input:hover{
    background: rgb(70, 65, 71);
    border-style: none;
}

input:focus{
    background: rgb(70, 65, 71);
    border-style: none;
}

.appointment-form select{
    font-family: 'Barlow', sans-serif;
    margin: 20px;
    padding: .65em 1em .65em 1.5em;
    background: rgb(59, 54, 60);
    border-radius: 4px;
    color: var(--clr-primary-5);
    border-style: none;
}

.clear-appointments-btn{
    margin-top: 50px;
    border: none;
    font-family: 'Barlow', sans-serif;
    font-size: .7em;
    font-weight: 400;
    background: none;
    color: rgb(173, 96, 96);
    margin-bottom: 1em;
    cursor: pointer;
    transition: var(--transition)
}

.clear-appointments-btn:hover{
    color: rgb(255, 191, 170); 
}

.btn{
    font-family: 'Barlow', sans-serif;  
    transition: var(--transition);
}
.create-btn{
    padding: .7em 2em .7em 2em;
    background: var(--clr-primary-7);
    margin-left: 25px;
    border-radius: 9px;
    border-style: none;
    color: var(--clr-primary-6);
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}

.create-btn:hover{
    background: var(--clr-primary-8);
    color: rgb(244, 243, 243);
}

.update-btn{
    padding: .7em 2em .7em 2em;
    background: rgb(225, 197, 120);
    margin-left: 2em;
    border-radius: 9px;
    border-style: none;
    color: rgb(247, 246, 246);
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}

.update-btn:hover{
    background: rgb(152, 134, 83);
    color: rgb(254, 254, 254);  
}

.table-container{
    min-width: 867px;
    max-width: 1024px;
    display: grid;
    place-items: center;   

}

#create-appointment-btn{
    margin-right: 22px;
}
