.appointment-container{
    width: 100%;
}

table{
    border-spacing: 0px;
    width: 1024px;
    margin-top: 1em;
    font-size: .9em;
    color: var(--clr-primary-5);
}
.table td, .table th{
    padding: .9em .9em .5em 1em;
    vertical-align: top;
    text-align: left;
    font-weight: 300;
}

.edit-btn{
    background: none;
    border: none;
    font-size: 1em;
    color: var(--clr-primary-10);
    cursor: pointer;
    transition: var(--transition)
}
.edit-btn:hover{
    color: var(--clr-primary-12);
}

.delete-btn{
    color: rgb(199, 109, 99);
    background: none;
    border: none;
    font-size: .9em;
    cursor: pointer;
    transition: var(--transition);
}
.delete-btn:hover{
    color: rgb(254, 156, 145);
}
.thead-dark{
    box-shadow: inset  0 0 10em rgba(255, 255, 255, 0.08);
    color:var(--clr-primary-6);
}

.table-descriptions th{
    font-weight: 400;   
}

tbody{
    border-bottom: black;
}

tr:hover td {
    box-shadow: inset  0 0 10em rgba(255, 255, 255, 0.06);
}

.table-row:nth-child(even){
    box-shadow: inset  0 0 10em rgba(255, 255, 255, 0.025)
}


