
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main-logo {
  margin-left: 40px;
}

.header{
  background: linear-gradient(to right, #181618, #050505);
  display: grid;
  grid-template-columns: 135px 1fr;
  align-items: center;
  padding: 20px;
  font-family: 'PT Sans', sans-serif;
  color: rgb(249, 249, 249);
  font-size: .9em;
}
