
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main-logo {
  margin-left: 45px;
}

.header{
  background: linear-gradient(to right, #121112, #000000);
  display: grid;
  grid-template-columns: 8em 1fr;
  align-items: center;
  padding: 30px;
  font-family: 'PT Sans', sans-serif;
  color: rgb(249, 249, 249);
  font-size: 1.2em;
}
